.waitlist-hero-box {
    margin-top: calc(30vh + 8px); /* slightly raised for regular screens too */
}

.waitlist-body-lock {
    overflow: hidden;
}

@media (max-width: 1024px), (max-height: 600px) {
    .waitlist-hero-box {
        margin-top: calc(5vh) !important;
        transform: scale(0.6) !important;
        transform-origin: top center;
    }
    
    .waitlist-body-lock {
        overflow: auto !important;
    }
}
