.waitlist-hero-box {
    margin-top: calc(30vh + 8px); /* slightly raised for regular screens too */
}

/* Remove default Layout padding that generates extra hidden scroll space below the video on mobile */
.waitlist-main {
    padding-bottom: 0 !important;
}

.waitlist-body-lock {
    overflow: hidden;
}

/* Mobile Portrait */
@media (max-width: 768px) and (orientation: portrait) {
    .waitlist-hero-box {
        margin-top: calc(15vh + 8px) !important;
    }
    
    .waitlist-body-lock {
        overflow: auto !important;
    }
    
    .waitlist-video-bg {
        position: fixed !important;
    }
}

/* Mobile Landscape (Phones) */
@media (max-width: 932px) and (max-height: 450px) and (orientation: landscape) {
    .waitlist-hero-box {
        margin-top: calc(5vh) !important;
        transform: scale(0.6) !important;
        transform-origin: top center;
    }
    
    .waitlist-body-lock {
        overflow: auto !important;
    }
    
    .waitlist-video-bg {
        position: fixed !important;
    }
}
